.Message html, .Message body, .Message div, .Message ul, .Message ol, .Message li, .Message p, .Message h1, .Message h2, .Message h3, .Message h4, .Message h5, .Message h6, .Message form, .Message fieldset, .Message input, .Message textarea, .Message blockquote, .Message table, .Message th, .Message td, .Message dl, .Message dt, .Message dd, .Message header, .Message footer, .Message nav, .Message section, .Message article, .Message aside {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.Message a {
  text-decoration: none;
}

.Message .c-ico {
  display: inline-block;
  vertical-align: middle;
  background: url(https://m.qulv.com/consult/images/iconConstact.png) no-repeat;
  background-size: 1rem 9rem;
}

.Message ul, .Message li, .Message ol {
  list-style: none;
}

.Message header {
  position: fixed;
  width: 100%;
  height: .88rem;
  line-height: .88rem;
  font-size: 16px;
  color: #666;
  z-index: 99;
}

.Message header .hd-content {
  position: relative;
  margin: 0 auto;
  padding: .1rem .93rem 0 .76rem;
  width: 7.5rem;
  height: .88rem;
  line-height: .88rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.Message header .hd-content .hd-tit {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 .75rem;
  width: 6rem;
  text-align: center;
  font-size: .3rem;
}

.Message .wrap.pd-88 {
  padding-top: .88rem;
}

.Message .wrap {
  background: #eee;
  max-width: 750px;
  margin: 0 auto;
  background-color: #eee;
  padding-bottom: 1.3rem;
}

.Message .wrap .contact-top {
  border: 1px solid #e6e6e6;
  height: 2.6rem;
  margin: .2rem 0;
  background: #fff;
}

.Message .wrap .contact-top ul li {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
}

.Message .wrap .contact-top ul li span {
  display: block;
  width: 1.18rem;
  height: 1.18rem;
  background: #61b30b;
  border-radius: .24rem;
  margin: .4rem auto .22rem;
  position: relative;
}

.Message .wrap .contact-top ul li span .c-ico {
  width: .65rem;
  height: .91rem;
  background-position: -0.19rem -0.05rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Message .wrap .contact-top ul li p {
  font-size: .3rem;
  color: #61b30b;
  padding-bottom: .2rem;
}

.Message .wrap .contact-top ul li:last-child:after {
  content: "";
  display: block;
  width: .02rem;
  background: #eee;
  position: absolute;
  top: 50%;
  right: 0;
  height: 1.75rem;
  transform: translate(0, -50%);
}

.Message .wrap .contact-top ul li.online span {
  background: #379bed;
  position: relative;
}

.Message .wrap .contact-top ul li.online span .c-ico {
  width: .74rem;
  height: .62rem;
  background-position: -0.15rem -1.04rem;
}

.Message .wrap .contact-top ul li.online span label {
  position: absolute;
  display: block;
  width: .6rem;
  height: .3rem;
  text-align: center;
  border: 1px solid #f54e00;
  border-radius: .04rem;
  line-height: .3rem;
  top: .05rem;
  right: -0.72rem;
  font-size: .22rem;
  color: #f54e00;
}

.Message .wrap .contact-top ul li.online p {
  color: #379bed;
}

.Message .wrap .contact-top ul:after {
  content: "";
  display: block;
  clear: both;
}

.Message .wrap .contact-list {
  background: #fff;
  margin: .2rem 0;
}

.Message .wrap .contact-list h4 {
  font-size: .3rem;
  height: .88rem;
  line-height: .88rem;
  text-align: center;
}

.Message .wrap .contact-list ul {
  width: 100%;
  border-top: .02rem solid #f5f5f5;
  overflow: hidden;
}

.Message .wrap .contact-list ul li {
  float: left;
  border-bottom: .02rem solid #f5f5f5;
  width: 2.5rem;
  height: 2rem;
  text-align: center;
  position: relative;
}

.Message .wrap .contact-list ul li .c-ico {
  display: inline-block;
  width: .64rem;
  height: .64rem;
  background-position: -0.23rem -1.79rem;
  margin: .4rem 0 .24rem 0;
}

.Message .wrap .contact-list ul li p {
  font-size: .26rem;
  color: #999;
}

.Message .wrap .contact-list ul li:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: .02rem;
  height: 1.94rem;
  background: #f5f5f5;
}

.Message .wrap .contact-foot {
  background: #fff;
  text-align: center;
  font-size: .3rem;
  height: .9rem;
  line-height: .9rem;
  margin-bottom: .74rem;
}

.Message .wrap .contact-foot a {
  color: #3e3e3e;
}

.Message .wrap h4 {
  font-weight: normal;
}
