

.bg{
    background-image: url(https://m.qulv.com/Content/Route/img/bg1.jpg);
    background-size: 100%;
    background-position: center;
    .ant-layout{
        height: 100%;
        background: none;
    }
}
.ant-page-header-heading-sub-title {

    color: rgb(14, 14, 14);
    font-size: 20px;
    line-height: 22px;
    margin-left: 130px;
}
