.bg {
  background-image: url(https://m.qulv.com/Content/Route/img/bg1.jpg);
  background-position: center;
}

.ant-page-header-heading-sub-title {
  color: #0e0e0e;
  font-size: 20px;
  line-height: 22px;
  margin-left: 130px;
}
