*{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}
p{
    margin:0
}
#line{
    ul,li{
    list-style: none;
}
    .ui-header, .ui-footer {
        position: fixed;
        width: 100%;
        z-index: 100;
        left: 0;
    }
    .ui-header-white {
        background: #ffffff;
        z-index: 10010;
        text-align: center;
    }
    .ui-header {
        border-bottom: 1px solid #E0E0E0;
        top: 0;
        height: 45px;
        line-height: 45px;
        i.icon-default{
            position: absolute;
            top: 13px;
        }
        i.icon-list {
            position: absolute;
            top: 13px;
        }
    }
    .icon-back {
        height: 20px!important;
        background-position: -5px -14px!important;
    }
    .icon-default {
        width: 20px!important;
        height: 20px;
        background-position: 0 -60px!important;
    }
    .icon {
        position: relative;
        display: inline-block;
        width: 20px;
        background: url(../../asset/discoverImg/icon.png) no-repeat;
        background-size: 20px 200px;
    }
    .ui-btn-icon-l {
        position: absolute!important;
        left: 15px;
        top: 12px;
        width: 24px;
        height: 24px;
    }
    .ui-btn-icon-r {
        position: absolute!important;
        right: 15px;
        top: 12px;
        width: 24px;
        height: 20px;
    }
    .ui-header~.ui-container {
        border-top: 45px solid transparent;
        
    }
    .ui-footer {
        position: fixed;
        width: 100%;
        z-index: 100;
        left: 0;
        height: 50px;
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        li {
            float: left;
            display: inline-block;
            width: 25%;
            color: #FFFFFF;
            font-size: 11px;
            padding-top: 5px;
            text-align: center;
        }
        i.icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: top;
            margin-bottom: 3px;
            background: url(../../asset/discoverImg/iconFt.png) no-repeat;
            background-size: 20px 240px;
        }
        i.icon1 {
            background-position: 0 0;
        }
        i.icon2 {
            background-position: 0 -20px;
        }
        i.icon3 {
            background-position: 0 -40px;
        }
        i.icon4 {
            background-position: 0 -60px;
        }
    }
    .ui-list {
        padding-bottom: 25px;
        box-sizing: border-box;
        background: none;
        // width: 100%;
        li {
            display: -webkit-box;
            padding-left: 15px;
        }
        a  {
            width: 100%;
            display: inherit;
        }
        .ui-list-img {
            position: relative;
            width: 108px;
            height: 108px;
            margin: 10px 10px 10px 0;
            img {
                width: 108px;
                height: 108px;
            }
        }
        em.mark {
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            font-size: 11px;
            padding: 2px 4px;
            color: #FFFFFF;
            background: rgba(0, 0, 0, 0.5);
        }
        .bottxt{
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.3);
            color: #fff;
            padding: .5px 0;
            text-align: center;
            font-size: 12px
        }
        .ui-list-info {
            -webkit-box-flex: 1;
            padding: 10px 10px 10px 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-box-pack: start;
            h4 {
                font-size: 13px;
                color: #6b6b6b;
                max-width: 100%;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                word-break: break-all;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                height: 0.8rem;
            }
            p.time-list {
                height: 18px;
                font-size: 11px;
                color: #999999;
                overflow: hidden;
                margin-top: 5px;
            }
            p.tag-list {
                height: 30px;
                box-sizing: border-box;
                padding-top: 5px;
                span.tag {
                    float: left;
                    font-size: 11px;
                    color: #389bed;
                    border: 1px solid #389bed;
                    border-radius: 2px;
                    padding: 0px 2px;
                    margin-right: 4px;
                }
            }
            p {
                color: #777;
                font-size: 14px;
            }
            span.comment-txt {
                font-size: 11px;
                color: #999999;
            }
            span.price {
                color: #999999;
                font-size: 11px;
                vertical-align: baseline;
                em {
                    color: #fa5940;
                    font-size: 12px;
                    vertical-align: baseline;
                    b {
                        font-size: 16px;
                        vertical-align: baseline;
                        line-height: 1;
                    }
                }
            }
        }
    }
    .fn-right {
        display: inline-block;
        float: right;
    }
    .fn-left {
        display: inline-block;
        float: left;
    }
    .loadMore{
        text-align: center;
        font-size: 14px;
        color: #999999;
        padding: 15px 0;
        background:#eeeeee;
    }
    .ant-back-top {
        bottom: 100px;
      }
    .ant-back-top-inner {
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 4px;
        background-color: #1088e9;
        color: #fff;
        text-align: center;
        font-size: 20px;
    }
    .show-dialog-3 {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10010;
    }
    .gallery {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 10100;
    }
    .show-dialog-3 .show-dialog-bd-3 {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 220px;
        background: #FFFFFF;
        padding: 0 15px;
        box-sizing: border-box;
        z-index: 10100;
        ul li {
            position: relative;
            height: 44px;
            line-height: 44px;
            font-size: 15px;
            color: #666666;
            i.icon-check {
                position: absolute;
                display: inline-block;
                width: 20px;
                height: 20px;
                right: 0px;
                top: 12px;
                background: url(../../asset/discoverImg/icon.png) no-repeat;
                background-size: 20px 200px;
                background-position: 0 -100px;
            }
        }
        ul li.active {
            color: #4c84fc;
            i.icon-check {
                background-position: 0 -120px;
            }
        }
    }
}
